<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/tab.css">
  <link rel="stylesheet" href="/js/layer-v3.1.1/layer/theme/default/layer.css">
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
  <script src="/js/layer-v3.1.1/layer/layer.js"></script>
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="panel panel-warning">
      <div class="panel-heading blog-title">
        <h3>Ulord博客创作中心</h3>
        <a class="pull-right" href="/info">个人中心</a>
        <a class="pull-right" href="/home">返回主页</a>
      </div>
      <div class="panel-body">
        <div>
          <button class="publish-btn publish-btn-active article-btn">发布文章</button>
          <button class="publish-btn ads-btn">发布广告</button>
        </div>
        <form action="" class="release-form">
          <input type="text" placeholder="标题" class="release-title" id="title">
          <textarea class="release-title" rows="3" placeholder="简述" id="intro"></textarea>
        </form>
        <div id="editor">
        </div>
        <div class="demo" class="col-md-12 ">
          <div class="plus-tag tagbtn clearfix" id="myTags"></div>
          <div class="plus-tag-add">
            <form id="" action="" class="login">
              <ul class="Form FancyForm">
                <li>
                  <span class="label" style="color: #000">我的标签</span>
                  <input id="" name="" type="text" class="stext" maxlength="20" />
                  <label>标签</label>
                  <span class="fff"></span>
                </li>
                <li>
                  <button type="button" class="Button RedButton Button18" style="font-size:16px;">新增标签</button>
                  <a href="javascript:void(0);">推荐标签</a>
                </li>
              </ul>
            </form>
          </div>
          <!--plus-tag-add end-->

          <div id="mycard-plus" style="display:none;">
            <div class="default-tag tagbtn">
              <div class="clearfix">
                <a value="-1" title="军事" href="javascript:void(0);"><span>军事</span><em></em></a>
                <a value="-1" title="经济" href="javascript:void(0);"><span>经济</span><em></em></a>
                <a value="-1" title="旅游" href="javascript:void(0);"><span>旅游</span><em></em></a>
                <a value="-1" title="技术" href="javascript:void(0);"><span>技术</span><em></em></a>
                <a value="-1" title="感想" href="javascript:void(0);"><span>感想</span><em></em></a>
                <a value="-1" title="随笔" href="javascript:void(0);"><span>随笔</span><em></em></a>
                <a value="-1" title="笔记" href="javascript:void(0);"><span>笔记</span><em></em></a>
                <a value="-1" title="java" href="javascript:void(0);"><span>java</span><em></em></a>
                <a value="-1" title="paython" href="javascript:void(0);"><span>paython</span><em></em></a>
                <a value="-1" title="javascript" href="javascript:void(0);"><span>javasrcipt</span><em></em></a>
                <a value="-1" title="php" href="javascript:void(0);"><span>php</span><em></em></a>
                <a value="-1" title="PHP" href="javascript:void(0);"><span>PHP</span><em></em></a>
                <a value="-1" title="Dreamweaver" href="javascript:void(0);"><span>Dreamweaver</span><em></em></a>
                <a value="-1" title="Shopping" href="javascript:void(0);"><span>Shopping</span><em></em></a>
                <a value="-1" title="Writing" href="javascript:void(0);"><span>Writing</span><em></em></a>
                <a value="-1" title="Diving" href="javascript:void(0);"><span>Diving</span><em></em></a>
                <a value="-1" title="Basketball" href="javascript:void(0);"><span>Basketball</span><em></em></a>
                <a value="-1" title="Reading" href="javascript:void(0);"><span>Reading</span><em></em></a>
              </div>
            </div>
            <!--mycard-plus end-->
          </div>
          <input type="number" placeholder="定价" class="release-title" id="price">
          <p class="ads-tip">提示：发布广告定价为每被浏览一篇需支出的费用</p>
          <input class="btn btn-default" type="button" value="发布文章" style="padding: 14px 40px; margin: 12px auto 0; display: block; background-color: rgb(255, 152, 0); color: #fff" id="sub">
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var E = window.wangEditor
      var editor = new E('#editor')
      editor.customConfig.uploadImgShowBase64 = true // 使用 base64 保存图片
      editor.create()
      $('#sub').on('click', function() {
        console.log('开始提交');
        var amount = $('#price').val();
        if (amount == ''){
          amount = 0;
        }
        if ($('.ads-btn').hasClass('publish-btn-active')) {
          amount = -amount;
        }
        var tags = [];
        $('.plus-tag a').each(function() {
          tags.push($(this).text());
        })
        $.ajax({
          url: '/release',
          type: 'POST',
          contentType: "application/json",
          data: JSON.stringify({
            title: $('#title').val(),
            body: editor.txt.html(),
            amount: amount,
            tag: tags,
            description: $('#intro').val()
          })
        }).done(function(res) {
          if (res.code == 1) {
            layer.close(index);
            layer.msg('发布成功', {
              time: 500
            }, function() {
              window.location.href = '/home';
            })
          } else if (res.code == -2) {
            layer.close(index);
            layer.msg('发布失败，余额不足！', {
              time: 1000
            })
          } else {
            layer.close(index);
            layer.msg('发布失败', {
              time: 1000
            })
          }
        })
        var index = layer.load(0, {
          shade: false
        });
      })
      $('.ads-tip').hide();
      $('.publish-btn').on('click', function() {
        $(this).addClass('publish-btn-active');
        $(this).siblings().removeClass('publish-btn-active');
        if ($('.article-btn').hasClass('publish-btn-active')) {
          $('#sub').val('发布文章');
          $('.ads-tip').hide();
        } else {
          $('#sub').val('发布广告');
          $('.ads-tip').show();
        }
      })
    </script>
    <script src="/js/tab.js"></script>
</body>
</html>