<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jsencrypt/2.3.1/jsencrypt.js"></script>
    <title>Document</title>
</head>

<body>
    <input type="text" id="user">
    <input type="text" id="pwd">
    <textarea name="" id="bb" cols="30" rows="10"></textarea>
    <button id="submit">提交</button>
    <button id="get">获取公匙</button>
    <script>
        $('#get').on('click', function () {
            $.ajax({
                url: 'http://192.168.14.40:5000/user/password',
                type: 'GET',
            }).done(function (res) {
                console.log(res.result.pubkey);
                $('#bb').val(res.result.pubkey);
            })
        })
        $('#submit').on('click', function() {
            encryptSend('http://192.168.14.40:5000/user/password', $('#pwd').val(), publicKey)
        })
        function encryptSend(url, data, publicKey){            
            var jsencrypt = new JSEncrypt();
            jsencrypt.setPublicKey(publicKey);            
            // enData用来装载加密后的数据
            var enData = new Object();            
            // 将参数用jsencrypt加密后赋给enData
            for(var key in data){
                enData[key] = jsencrypt.encrypt(data[key]);
            }

            $.ajax({
                url: url,
                type: 'post',
                data: enData,
                dataType: 'json',
                success: function (data) {                    
                    console.info(data);
                },
                error: function (xhr) {                    
                    console.error('Something went wrong....');
                }
            });
        }    
    </script>
</body>

</html>