<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/js/layer-v3.1.1/layer/theme/default/layer.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/layer-v3.1.1/layer/layer.js"></script>
    <script src="https://unpkg.com/ipfs-api/dist/index.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container info">
        <h2>Ulord博客个人中心
            <a class="pull-right" style="font-size: 20px;" href="/home">返回主页</a>
        </h2>
        <ul id="myTab" class="nav nav-tabs info-nav">
            <li class="active">
                <a href="#home" data-toggle="tab">
                    我的资料</a>
            </li>
            <li>
                <a href="#account" data-toggle="tab">我的账户</a>
            </li>
            <li>
                <a href="#buyArticle" data-toggle="tab">购买文章</a>
            </li>
            <li>
                <a href="#myArticle" data-toggle="tab">我的文章</a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content info-content">
            <% if (data) { %>
                <div class="tab-pane fade in active" id="home">
                    <div class="modify-item">
                        <span>用户名：</span>
                        <span>
                            <%= data.username %>
                        </span>
                    
                    </div>
                    <div class="modify-item">
                        <% if (data.Email) { %>
                            <span>邮箱：</span>
                            <span>
                                <%= data.Email %>
                            </span>
                            
                            <% } else { %>
                                <span>邮箱：未填写邮箱</span>
                             
                                <% } %>
                    </div>
                    <div class="modify-item">
                        <% if (data.cellphone) { %>
                            <span>电话：</span>
                            <span>
                                <%= data.cellphone %>
                            </span>
                           
                            <% } else { %>
                                <span>电话：未填写电话</span>
                             
                                <% } %>

                    </div>
                    <div class="modify-item">
                        <span>密码:</span>
                        <span>******</span>
                        
                    </div>
                    <input type="button" class="btn modify-btn btn-danger" value="修改">
                </div>
                <% } %>

                    <div class="tab-pane fade" id="account">
                        <div>
                            <% if (data2) { %>
                                <div class="info-item-">
                                    <h4>您的账号共有
                                        <%= data3.total %> ULD</h4>
                                    <% if (data2.customer_income.sum) { %>
                                        <span>总文章收入
                                            <%= data2.customer_income.sum %> ULD</span>
                                        <% } else { %>
                                            <span>总文章收入0 ULD</span>
                                            <% } %>
                                                <% if (data2.customer_expenditure.sum) { %>
                                                    <span>总文章支出
                                                        <%= data2.customer_expenditure.sum %> ULD</span>
                                                    <% } else { %>
                                                        <span>总文章支出0 ULD</span>
                                                        <% } %>
                                </div>
                                <% } %>
                        </div>
                        <div>
                            <table class="table">
                                <caption>您的支出账单</caption>
                                <tbody>
                                    <tr>
                                        <th>交易时间</th>
                                        <th>交易类型</th>
                                        <th>交易费用</th>
                                        <th>目标账户</th>
                                        <th>交易文章</th>
                                    </tr>
                                    
                                    <% data5.records.forEach(function(item, index) { %>
                                        <tr>
                                            <th><%= item.create_timed %></th>
                                            <th>文章支出</th>
                                            <th><%= item.price %></th>
                                            <th><%= item.customer %></th>
                                            <th><%= item.title %></th>
                                            
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                            <table class="table">
                                <caption>您的收入账单</caption>
                                <tbody>
                                    <tr>
                                        <th>交易时间</th>
                                        <th>文章收入</th>
                                        <th>交易费用</th>
                                        <th>目标账户</th>
                                        <th>交易摘要</th>
                                    </tr>
                                    <% data4.records.forEach(function(item, index) { %>
                                        <tr>
                                            <th><%= item.create_timed %></th>
                                            <th>文章收入</th>
                                            <th><%= item.price %></th>
                                            <th><%= item.customer %></th>
                                            <th><%= item.title %></th>
                                            
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="buyArticle">
                                <div>
                                    <% if (data2) { %>
                                        <div>
                                            <h4>您的生涯共购买
                                                <%= data2.customer_expenditure.count %>篇文章，共支付<%= data2.customer_expenditure.sum %> ULD</h4>
                                        </div>
                                    <% } %>
                                </div>
                                <div>
                                    <table class="table">
                                      
                                        <tbody>
                                            <tr>
                                                <th>交易时间</th>
                                                <th>文章标题</th>
                                                <th>交易费用</th>
                                                <th>作者</th>
                                                <th>交易标签</th>
                                            </tr>
                                            
                                            <% data7.consumes.forEach(function(item, index) { %>
                                                <tr>
                                                    <th><%= item.create_timed %></th>
                                                    <th><%= item.title %></th>
                                                    <th><%= item.price %></th>
                                                    <th><%= item.author %></th>
                                                    <th>
                                                        <% item.tags.forEach(function(u, index) { %>
                                                        <span class="item-tag">
                                                            <%= u %>
                                                        </span>
                                                        <% }) %>
                                                    </th>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                    </div>


                    <div class="tab-pane fade" id="myArticle">
                                <div>
                                    <% if (data2) { %>
                                        <div>
                                            <h4>您共撰写了<%= data2.publisher_income.count %>篇文章，共收入<%= data2.publisher_income.sum %> ULD</h4>
                                        </div>
                                    <% } %>
                                </div>
                                <div>
                                    <table class="table">
                                        
                                        <tbody>
                                            <tr>
                                                <th>交易时间</th>
                                                <th>交易费用</th>
                                                <th>文章标题</th>
                                            </tr>
                                            
                                            <% data6.data.forEach(function(item, index) { %>
                                                <tr>
                                                    <th><%= item.create_timed %></th>
                                                    <th><%= item.price %></th>
                                                    <th><%= item.title %></th>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                    </div>
        </div>

    </div>


    <script>
        $('.modify-btn').on('click', function () {
            layer.open({
                type: 1,
                closeBtn: false,
                shift: 7,
                title: '修改个人信息',
                shadeClose: true,
                content: "<div style='width:350px;'>" +
                    "<div style='width:320px;margin-left: 3%;' class='form-group has-feedback'><p>邮箱</p><input id='newEmail' class='form-control' type='text' name='awardDescription'/></div>" +
                    "<div style='width:320px;margin-left: 3%;' class='form-group has-feedback'><p>电话</p><input id='newPhone' class='form-control' type='text' name='awardUserCount'/></div>" +
                    "<div style='width:320px;margin-left: 3%;' class='form-group has-feedback'><p>新密码</p><input id='newPass' class='form-control' type='text' name='awardUserCount'/></div>" +
                    "<div style='width:320px;margin-left: 3%;' class='form-group has-feedback'><p>密码</p><input id='oldPass' class='form-control' type='text' name='awardUserCount'/></div>" +
                    "<div style='width:320px;margin-left: 3%;' class='form-group has-feedback'><p></p>" +
                    "<button style='margin-top:5%;' type='button' class='btn btn-block btn-success btn-lg' onclick=" +
                    'submitModify()' + ">提交</button></div>"
            });
        })

        function submitModify() {
            var newEmail = $('#newEmail').val();
            var newPhone = $('#newPhone').val();
            var newPass = $('#newPass').val();
            var oldPass = $('#oldPass').val();
            console.log(newName)
            $.ajax({
                url: '/modify',
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify({
                    email: newEmail,
                    cellphone: newPhone,
                    new_password: newPass,
                    password: oldPass,
                })
            }).done(function (res) {
                if (res.code == 0) {
                    layer.msg('修改成功',{time: 500})
                    location.reload();
                
                }
            })
        }
    </script>


</body>

</html>