<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/js/layer-v3.1.1/layer/theme/default/layer.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/layer-v3.1.1/layer/layer.js"></script>
    <script src="https://unpkg.com/ipfs-api/dist/index.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <ul id="myTab" class="nav nav-tabs info-nav">
                <li class="active"><a href="#home" data-toggle="tab">
                        菜鸟教程</a>
                </li>
                <li><a href="#ios" data-toggle="tab">iOS</a></li>
        
        </ul>
            <div id="myTabContent" class="tab-content info-content">
                <div class="tab-pane fade in active" id="home">
                    <p>菜鸟教程是一个提供最新的web技术站点，本站免费提供了建站相关的技术文档，帮助广大web技术爱好者快速入门并建立自己的网站。菜鸟先飞早入行——学的不仅是技术，更是梦想。</p>
                </div>
                <div class="tab-pane fade" id="ios">
                    <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                        TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
                </div>
                <div class="tab-pane fade" id="jmeter">
                    <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
                </div>
                <div class="tab-pane fade" id="ejb">
                    <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。
                    </p>
                </div>
            </div>
    </div>
    
    <!-- <script type="text/javascript">
        var ipfs = window.IpfsApi('114.67.37.2', '20418')
        ipfs.id()
            .then((id) => {
                console.log('my id is: ', id)
            })
            .catch((err) => {
                console.log('Fail: ', err)
            })
            function Utf8ArrayToStr(array) {
                var out, i, len, c;
                var char2, char3;

                out = "";
                len = array.length;
                i = 0;
                while(i < len) {
                c = array[i++];
                switch(c >> 4)
                { 
                case 0: case 1: case 2: case 3: case 4: case 5: case 6: case 7:
                    // 0xxxxxxx
                    out += String.fromCharCode(c);
                    break;
                case 12: case 13:
                    // 110x xxxx   10xx xxxx
                    char2 = array[i++];
                    out += String.fromCharCode(((c & 0x1F) << 6) | (char2 & 0x3F));
                    break;
                case 14:
                    // 1110 xxxx  10xx xxxx  10xx xxxx
                    char2 = array[i++];
                    char3 = array[i++];
                    out += String.fromCharCode(((c & 0x0F) << 12) |
                                ((char2 & 0x3F) << 6) |
                                ((char3 & 0x3F) << 0));
                    break;
                }
                }

                return out;
            } 
        $('.item-title').on('click', function () {
            var author = $(this).parents('.item').find('.author').text();
            var amount = parseInt($(this).parents('.item').find('.price').text());
            var title = $(this).text();
            ipfs.files.get($(this).attr('cid'),function (err,files) {
                if (err || typeof files == "undefined") {
                } else {
                    var array = Array.from(files[0].content)
                    window.sessionStorage.title = title;
                    window.sessionStorage.amount = amount;
                    window.sessionStorage.author = author;
                    window.sessionStorage.content = Utf8ArrayToStr(array);
                    window.location.href = '/details'
                    console.log('很重要', Utf8ArrayToStr(array));
                }
            })
        })
    </script> -->
</body>

</html>